@media (max-width:992px) {
        svg{
            display: none;
        }
        .box-shadow{
            flex-wrap: wrap-reverse;
        }
}
@media (max-width:576px) {
        .right{
            background-image: none;
        }
        .r-3{
            right: 7% !important;
        }
        .left{
            padding: 30px !important;
        }
}
@media (max-width:360px) {
        .heading h1{
            font-size: 25px;
        }
        .heading p{
            font-size: 15px !important;
        }
}